html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#form {
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
  border: solid 0.2rem;
  border-radius: 1rem;
}

.name-input {
  font-size: 2.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 0.8rem;
}

#submit {
  font-size: 2.5rem;
  border-radius: 0.6rem;
  padding: 0.2rem;
}

.name {
  font-size: 3rem;
}

.image {
  float: left;
  height: 30%;
  width: 30%;
}

.label {
  font-size: 3.5rem;
}

.abilities {
  font-size: 3rem;
}

.types {
  font-size: 3rem;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error {
  font-size: 3rem;
  text-align: center;
}
