html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Press Start 2P", cursive;
}

#form {
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
  border: solid 0.2rem;
  border-radius: 1rem;
  background-color: #2a75bb;
}

.name-input {
  font-size: 2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 0.8rem;
}

#submit {
  font-size: 2rem;
  border-radius: 0.6rem;
  padding: 0.2rem;
}

.name {
  font-size: 2.5rem;
}

.image {
  float: left;
  height: 30%;
  width: 30%;
}

.label {
  font-size: 2.5rem;
  margin: 1rem;
}

.abilities {
  font-size: 2.5rem;
}

.types {
  font-size: 2.5rem;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1rem;
  background-color: #3c5aa6;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  border: solid 0.3rem;
}

.error {
  font-size: 2.5rem;
  text-align: center;
}
